#LDAP_AUTH SETTINGS
LDAP_SERVER = "ldap_server_uri"
LDAP_PASSWORD = "ldap_bind_password"

SECRET_KEY=''

""" URL for sending SMS """
SMS_URL = "https://smsserver.com/sendsms?number=%s&content=%s"

""" SETTINGS FOR VPN """
VPN_CITIES = []
VPN_STATES = []
VPN_COUNTRIES = []
VPN_ORGANIZATIONS = []
VPN_OU = []


KEYPATH = "/path/to/keys"

OPENSSL_CNF_PATH = "/path/to/openssl.cnf"
