""" LDAP_AUTH SETTINGS """
LDAP_SERVER = "ldap_server_uri"
LDAP_USER = "ldap_bind_user"
LDAP_PASSWORD = "ldap_bind_password"
DC = "dc=Example,dc=com"
USERS_OU = "ou=People"
ADMINS_OU = "ou=Hosts,ou=Groups"
PROJECTS_OU = "ou=Projects,ou=Groups"
TEAMS_OU = "ou=Teams,ou=Groups"
ADMIN_TEAM_NAME = "TeamIT"

SECRET_KEY=''

""" URL for sending SMS """
SMS_URL = "https://smsserver.com/sendsms?number=%s&content=%s"

""" SETTINGS FOR VPN """
VPN_CITIES = []
VPN_STATES = []
VPN_COUNTRIES = []
VPN_ORGANIZATIONS = []
VPN_OU = []

EMAIL_FROM = "admin@localhost.com"
ALERT_MAIL_SUBJECT = "VPN cert is going to expire"
SERTIFICATE_MAIL_SUBJECT = "Your VPN certificate for %s"
SMTP = "smtp.localhost"

KEYPATH = "/path/to/keys"
OPENSSL_CNF_PATH = "/path/to/openssl.cnf"
