{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}VPN management - create new certificate{% endblock %}

{% block content %}

<h1>Validate password</h1>

{% if error %}
<div class="alert alert-danger">{{ error }}</div>
{% endif %}

<p>You should have received SMS message containing password. Please type it below to continue. If you did not receive SMS message (after waiting few minutes) please contact <a href="mailto:admin@futurice.com">IT team</a> (of course you can come to see us if you are in the Helsinki office).</p>

{% crispy form %}

{% endblock %}
