{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}VPN management - create new certificate{% endblock %}

{% block content %}



<div class="well">
<h1>Download setup wizard</h1>

<p>You can either manually create CSR and use this web wizard or download native wizard for Mac OS X, Linux or Windows. In addition to this software, you must install OpenVPN.</p>

<ul>
 <li><a href="/vpn/static/FuturiceVPNWizard.zip">Mac OS X</a></li>
 <li><a href="/vpn/static/FuturiceVPNWizard.exe">Windows</a> (when opening, right click and select "Run as administrator")</li>
 <li><a href="/vpn/static/FuturiceVPNWizard.jar">Linux</a></li>
</ul>
</div>

<h1>Manual way</h1>

<div class="alert alert-warning">
Only use this web wizard if you can't use native wizard from above.
</div>

<p>If you can't use easier setup wizard, you can create a new VPN certificate with these web pages. Using wizard (see above) is much easier. 
Please read VPN instructions from <a 
href="https://confluence.futurice.com/display/usup/Setting+up+your+VPN">Confluence page</a>.</p>

<p>This web wizard have following steps:</p>
<ol>
<li>Filling in your information</li>
<li>Creating and uploading CSR (Certificate Signing Request)</li>
<li>Confirming CSR data</li>
<li>Validating your identity (you'll need your mobile phone for this)</li>
<li>Downloading certificates and configuration files</li>
</ol>

<p>You have to install OpenVPN, generate a private key and CSR. Finally, after finishing this web wizard, you have to import configuration files to your OpenVPN before you can actually use the configuration.</p>

<h3>Select your preferences</h3>

<p>At first you have to generate CSR. Please fill this form and next screen will tell you valid values for different fields.</p>

{% crispy form %}

{% endblock %}
