{% extends "base.html" %}

{% block title %}VPN management - create new certificate{% endblock %}

{% block content %}

<div class="futu-box">
	<div class="futu-box-header">
		<h1>Validate password</h1>
	</div>
	<div class="futu-box-content">
{% if error %}
<p>{{ error }}</p>
{% endif %}

<p>You should have received SMS message containing password. Please type it below to continue. If you did not receive SMS message (after waiting few minutes) please contact <a href="mailto:admin@futurice.com">IT team</a> (of course you can come to see us if you are in the Helsinki office).</p>

<form method="post" action="">
{% csrf_token %}
<table>
{{ form.as_table }}
<tr><th></th><td><input type="submit" value="Send"></td></tr>
</table>
</form>
	</div>
</div>
{% endblock %}
