{% extends "base.html" %}

{% block title %}VPN management - create new certificate{% endblock %}

{% block content %}

<h1>Valid Certificate Signing Request (CSR)</h1>

<p>You have created a valid CSR. Please confirm that this information is valid, especially the common name field.</p>

<table class="table table-striped">
<tr>
<th>Common name:</th>
<td>{{ fields.common_name }}</td>
</tr>
<tr>
<th>City:</th>
<td>{{ fields.city }}</td>
</tr>
<tr>
<th>State:</th>
<td>{{ fields.state }}</td>
</tr>
<tr>
<th>Country:</th>
<td>{{ fields.country }}</td>
</tr>
<tr>
<th>Organization Unit:</th>
<td>{{ fields.organizationunit }}</td>
</tr>
<tr>
<th>Organization:</th>
<td>{{ fields.organization }}</td>
</tr>
<tr>
<th>Algorithm:</th>
<td>{{ fields.algorithm }}</td>
</tr>
<tr>
<th>Key length:</th>
<td>{{ fields.bitlength }}bits</td>
</tr>
</table>

<p>If you click continue, <strong>you'll receive a SMS message containing one-time password</strong>.
That is the final step before generating a certificate and configuration files for you.
The SMS will be sent to mobile phone number recorded in the LDAP directory. 
Delivery time is usually a few seconds, but it might take up to 30 seconds.
If no SMS message is received within 30 seconds, something is broken.</p>

<p>If something is incorrect, please generate new CSR and <a href="{% url "create_new" %}">upload it again</a>.</p>

<p><a class="btn btn-lg btn-primary" href="{% url "create_new_send_password" %}">Continue</a> or <a class="btn btn-lg btn-default" href="{% url "create_new" %}">upload CSR again</a></p>


{% endblock %}
