{% extends "base.html" %}

{% block title %}VPN management - create new certificate{% endblock %}

{% block content %}

{% if preferences %}
<h1>Your VPN CSR configuration</h1>

<p>Please generate the CSR request using these values. Your input will be validated on the next step - don't follow instructions OpenSSL gives to you. Input exactly these.</p>

<p>If you didn't open instructions page from the first step, <a target="_window" href="https://confluence.futurice.com/display/usup/Setting+up+your+VPN">do so now</a>.</p>

<dl class="dl-horizontal">
<dt>Country</dt>
<dd>FI</dd>
<dt>State</dt><dd> Uusimaa</dd>
<dt>City</dt><dd> Helsinki</dd>
<dt>Organization</dt><dd> Futurice Oy</dd>
<dt>Organization Unit</dt><dd> OpenVPN Machines</dd>
<dt>Common name</dt><dd> {{ cn }}</dd>
<dt>email</dt><dd> {{ preferences.email }}</dd>
</dl>

{% endif %}

{% if errors %}

<div class="alert alert-danger">
<strong>Please correct following errors:</strong>

<ul>
{% for error in errors %}
 <li>{{ error }}</li>
{% endfor %}
</ul>
</div>
{% endif %}

<h1>Upload CSR</h1>

<form enctype="multipart/form-data" method="post" action="">{% csrf_token %}
<input type="hidden" name="phase" value="csr">
<table>
{{ form.as_table }}
<tr><th></th><td><input class="btn btn-primary" type="submit" value="Send"></td></tr>
</table>
</form>
{% endblock %}
