{% extends "base.html" %}

{% block content %}

<div class="futu-box">
	<div class="futu-box-header">
		<h1>Your certificates</h1>
	</div>
	<div class="futu-box-content">
{% if certs %}
 <ul>
  {% for cert in certs %}
   <li>{% if cert.not_after_days < 0 %}<s>{{ cert.filename }}: valid from {{cert.not_before_printable}} to {{cert.not_after_printable}}</s>{% else %}
   {{ cert.filename }}: valid from {{cert.not_before_printable}} to {{cert.not_after_printable}} ({{ cert.not_after_days }} days left){% endif %}</li>
  {% endfor %}
 </ul>
{% else %}
 <p>No certificates.</p>
{% endif %}
	</div>
</div>


{% endblock %}
