{% extends "base.html" %}

{% block content %}
<div class="futu-box">
	<div class="futu-box-header">
		<h1>Invalid phone number</h1>
	</div>
	<div class="futu-box-content">
		<p>There is no valid phone number for you in LDAP. You cannot request new VPN certificate without phone number as part of validation is one-time token sent to your phone. You may either a) ask IT team to change your phone number or b) go to <a href="https://fum3.futurice.com/">FUM</a> to fix that.</p>
	</div>
</div>
{% endblock %}
